.earn-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: url('dragon.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}
